[submodule "_plugins/jekyll-rst"]
	path = _plugins/jekyll-rst
	url = https://github.com/xdissent/jekyll-rst.git
[submodule "static_content"]
	path = static_content
	url = ssh://56e9b6d57628e1700200024b@hspandher-pandher.rhcloud.com/~/git/hspandher.git/
